h1,#font{
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	color: black;
}
th, td {
 	 padding: 15px;
 	 text-align: center;
	 color: black;
	 font-family: Arial, Helvetica, sans-serif;
	 size:3
}
table, th, td {
 	 border: 2px solid black;
	 margin-left: auto;
 	 margin-right: auto;
}
#Btn1,#Btn2 {
  background-color: #555555; /*Black*/
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
